%div#article.solo
	%div.head
		%span.date= (@article.published_at ? @article.published_at.strftime("%b %d, %Y") : "DRAFT")
		%h2.title
			%a{:href => "/articles/#{@article.url}"}= @article.title

	%p.intro= @article.introduction

	%div.info
		%a{ :href => "#comments" }= pluralize(@article.comments.size, "comment")
		%ul.tags
			- @article.tags.each do |tag|
				%li
					%a{:href => "/tags/#{tag.url}", :title => "Articles tagged with: #{tag.name}"}= tag.name

	%div.body
		~ markdown @article.body

	- if @article.comments.size > 0
		%h3#comments.comments Comments
	- @article.comments.each do |comment|
		%div.comment{:id => "comment-#{comment.id}", :class => "#{(comment.role)}" }
			%img.avatar{:src => gravatar_for(comment.email), :alt => "#{comment.name}'s avatar"}
			%span.author
				- if comment.url && !comment.url.empty?
					%a{ :href => "#{comment.url}", :title => "#{comment.name}", :rel => "external nofollow" }= comment.name
				- else
					= comment.name
			%span.date
				%a{ :href => "\#comment-#{comment.id}" }= comment.published_at.strftime("%H:%M &mdash; %b %d, %Y")
			%div.commentbody~ secure_markdown comment.body
			%div.clear

	%h3.comments Add a comment
	= haml :'comments/form', :layout => false
